*.qmd linguist-language =r
*.yaml linguist-language =r
*.tex linguist-language =r
*.js linguist-language =r
*.bib linguist-vendored
*.lua linguist-vendored =r
*.css linguist-vendored =r
*.html linguist-vendored =r