*.qmd linguist-language = R
*.yaml linguist-language = R
*.tex linguist-language = R
*.js linguist-language = R
*.bib linguist-vendored
*.lua linguist-vendored = R
*.css linguist-vendored = R
*.html linguist-vendored = R