*.qmd linguist-language=Rscript
*.yaml linguist-language=Rscript
*.tex linguist-language=Rscript
*.js linguist-language=Rscript
*.bib linguist-vendored
*.lua linguist-vendored=Rscript
*.css linguist-vendored=Rscript
*.html linguist-vendored=Rscript